html {
	position: relative;
}

body {
	margin-bottom:120px;
	margin-top: 20px;
	background-color: black;

}
.navbar{
	height: 60px;
	background-color:  	#696969;
}

.rowjudul{
	color: blue;
}
.row{
	color: white;
}
.jumbotron {
	height: 520px;
	background-image: url('../img/header.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -40px;
	color:white;
	overflow: hidden;
}
.jumbotron img{
	width:200px;
	border:5px solid #696969;
}
.social img{
	width: 50px;
}

.progres {
	width: 50px;
}

.about{
	color: white;
	background-image: url('../img/about.jpg');

}
.artikel{
	color:red;

}
hr{
	width:250px;
	border-top: 4px solid #999;
}

section{
	min-height:600px; 
}
.skill{
	height: 640px;
    background-color: #696969;
    background-position: 0 -30px;
    background-size: cover;
}

#lambang{
	width:70px;
	height:70px;
}
.warna{
	background-color: black;


}
.portfolio{
	background-size: cover;
	background-position: 0 50px;
	
}


.contact {
	min-height: 800px;

}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #696969;
	padding-top: 20px;
}
footer p {
	color: #aaa;
	font-size: 1em;
}
footer p a{
	color: aqua;
}
footer p i {
	color:salmon;

}
